.button-white,
.button-gray,
.button-green {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  padding: 15px 30px 14px 30px;
  border-radius: 200px;
  position: relative;
  overflow: clip;
  transition: 0.2s ease-in-out;

  span {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.25px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    max-height: 20px;

    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 20px;
      position: relative;
      z-index: 2;
      transition: 0.3s ease-in-out;
      transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translateX(-105%);
    transition: transform 0.3s ease-in-out;
    transform-origin: left center;
  }

  @media #{$lg} {
    &:hover {
      span {
        span {
          transform: translateY(-100%);
        }
      }
      &:before {
        transform: translateX(0);
      }
    }
  }
}

.button-white {
  color: $black;
  background: $white;

  @media #{$lg} {
    &:hover {
      span {
        span{
          color: $white;
        }
      }
    }
  }
  &:before{
      background: $green;     
    } 
}
.button-gray {
  color: $black;
  background: $light-gray;

  @media #{$lg} {
    &:hover {
      span {
        span{
          color: $white;
        }
      }
    }
  }
  &:before{
      background: $green;    
    } 
}
.button-green {
  color: $white;
  background: $green;

  @media #{$lg} {
    &:hover {
      span {
        span{
          color: $white;
        }
      }
    }
  }
  &:before{
      background: $black;    
    } 
}
