.videorecensione {
  padding: 20px;
  overflow-x: clip;
  padding-top: 75px;

  @media #{$lg} {
    padding-top: 100px;
  }
  @media #{$xl} {
    padding-top: 150px;
  }

  &__slider {
    ul {
      li {
        iframe {
          max-height: 200px;
          width: 100%;
          border-radius: 30px;

          @media #{$md} {
            max-height: 500px;
          }
        }
        p {
          margin-top: 5px;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: -0.21px;

          &.nome-video {
            margin-top: 25px;
            font-size: 16.5px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: -0.25px;
          }

          @media #{$lg} {
            font-size: 16.5px;
            line-height: 22px;
            letter-spacing: -0.25px;

            &.nome-video {
              margin-top: 30px;
              font-size: 20px;
              line-height: 24px;
              letter-spacing: -0.3px;
            }
          }
        }
      }
    }
  }
}
