// Margin
.container{
    max-width: 640px;
    margin: auto;

    @media #{$md} {
        max-width: 768px;        
    }
    @media #{$lg} {
        max-width: 1024px;        
    }
    @media #{$xl} {
        max-width: 1280px;        
    }
    @media #{$xxl} {
        max-width: 1536px;        
    }
    @media #{$xxl} {
        max-width: 1920px;        
    }
}

.placeholder{
    height: 200vh;
}