iframe{
    .ytp-large-play-button {
      background-color: $green !important;
      overflow: clip !important;
      border-radius: 100% !important;
    
      svg {
        .ytp-large-play-button-bg {
          fill: $green !important;
        }
      }
    
      &:hover,
      :active,
      :target {
        svg {
          .ytp-large-play-button-bg {
            fill: $green !important;
          }
        }
      }
    }
}
